@media (min-width: 640px) {


    #menu {
        display : none;
    }

    header{
        display: block;
    }

    header nav {
        background-color: var(--light-brown); 
    }

    nav{
        grid-template-rows: 1fr;
    }

    .navigation {
        display : flex;
        flex-direction : row;
        padding-right : 2rem;
    }

    .navigation li {
        display : flex;
        flex : 1 0 auto;
    }


    /*CTA*/


    /* home page , memories*/
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap:10px;
    }

    section{
        margin:0;
    }

    .hero,h1,.event,#memories{
        grid-column: 1/4;
    }

    .birthday{
        margin:2rem;
    }

    .event{
        place-items: center;
    }

    .event h2{
        width:100%;
    }

    #memory{
        height:90%;
        padding-left: 1.5rem;
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(400px,1fr)) ;
        grid-template-rows: auto;
    }

    #memories-info{
        width:600px;
    }

    #memories-info img{
        display:none;
    }

    #memories-info p{
        line-height: 2rem;
        text-align: center;
        padding: 1rem;
    }



    /*share*/
    .form{
        margin: 0;
        padding: 0;
    }

    .form1{
        width: 400px;
        margin: 0 auto;
        grid-column: 2/4;
        border-radius: 15px;
        padding: 0.5rem;
        margin:0;
        margin-left:5%;
    } 

    .form1 input[type="submit"]{
        margin: 10%;
    }




    /*activity*/
    #activities{
        padding-bottom: 6rem;
    }

    #activity{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr auto;
        gap:10px;
    }

    #activity h1{
        position:absolute;
        bottom:55%;
        left:3%;
    }

    .restaurant {
        border-radius: 15px;
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
        align-items: center;
    }

    .restaurant div{
        background-color: white;
        border: solid var(--light-blue) 2px;
    }

    .restaurant img, .hike img{
        transform : scale(0.96);
        transition : transform 0.2s ease-in-out, border-radius 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    .restaurant img:hover, .hike img:hover{
        transform : scale(1.2);

    }

    .hike{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .nature{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .hike,.nature{
        margin:0;
    }
    
    .hike img{
        border-radius: 0;
        padding-left: 40%;
    }

    .hike ul,.nature ul, .hike h4, .nature h4{
        padding-left: 20%;
    }

    .hike h3, .nature h3{
        text-decoration: underline 2px;
    }

    iframe {
        padding-left: 30%;
    }




    /*thank you*/
    .thanks h2{
        text-align: center;
    }

    .thanks {
        grid-column: 1/4;
        width: 90%;
        margin-left:5%;
        padding: 0.3rem;
    }

    .num, .email{
        text-align: center;
    }


    /*footer*/
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        align-items: center;
    }
}
