:root{
    --brown: #f2d2a9;
    --blue:  #2671B1;
    --light-blue: #568CA9;
    --light-brown:  #f3e7d8;
  
    --heading-font: 'Oswald';
    --paragraph-font: 'Lato';
}


p, li, a, button{
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4{
    font-family: var(--heading-font);
}

header{
    background-color: var(--brown);
    display:flex;
    flex-direction: column;
    justify-content: space-between; 
    padding:10px;  
}

h1, p{
    padding-left:5px;
}

header img{
    width: 100px;
    height: 75px;
    margin:10px;
    border-radius: 15%;
}

header .head{
    display: flex;
    gap:25px;
    align-items: center;
    line-height: 0.5;
}




/*main*/
main{
    display: block;
    background-color: var(--brown);
}

section{
    margin:5px;
    background-color: var(--light-brown);
    display : flex;
    flex-direction : column;
    height : 100%;
}

section h2{
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;    
}

main h1{
    margin:1.5rem;
}



/*menu depliant hamburger*/
#menu {
    display : block;
    font-size : 2rem;
    text-decoration : none;
    padding : 0.5rem 1rem;
    position : absolute;
    top : 0;
    right : 0;
}

#menu::before {
    content : "≡";
    color: black;
}

.navigation {
    display : flex;
    flex-direction : column;
    list-style : none;
    align-items: end;
    padding: 0.2rem;
}

nav{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul{
    overflow: hidden;
}

nav.open{
    grid-template-rows: 1fr;
}

.navigation a {
    text-decoration : none;
    color : black;
    text-align : center;
    padding : 0.75rem;
    font-weight : 700;
    transition : 0.5s;
}

.navigation a:hover {
    text-decoration :overline;
    text-decoration-color: var(--blue);
}

.show {
    display : flex;
    flex-direction : column;
}

.show li {
    display : block;
}

#menu.show::before {
    content : "X";
    position : absolute;
    top : 0;
    right : 0;
    padding : 1rem;
}

.active::before { 
	content: "🌊"; 
}



/*call to action on banner */

.hero{
    background-image : url(../images/quend.jpg);
    background-repeat : no-repeat;
    background-size : cover;
    background-position : center;
    margin-bottom : 2rem;
    position : relative;
    height:400px;
}

#call{
    position : absolute;
    display : flex;  
    top: 70%;
    left: 70%;
    justify-content:center;
    align-items : center;
}
/* .CTA{
    display: block; 
    text-align: center; 
    font-weight: bold; 
    font-size: 150%; 
    line-height: 100px; 
    margin: 10px; 
    position: relative;
} */
.CTA a {
    color:white;
    font-weight: 700;
    background-color: var(--blue);
    text-decoration: none;
    padding:20px;
    border-radius: 20px;
    position:absolute;
    transition : color 0.5s, font-size 0.5s, transform 0.3s;
}

.CTA a:hover {
    background-color: var(--brown);
    color:var(--blue);
    transform : scale(1.09);
}


/*Events*/
.event p {
    margin-left:1rem;
}

.event a{
    text-decoration: none;
    color: black;
    font-family: var(--heading-font);
    font-weight: 400;
    transition : color 0.5s, font-size 0.5s, transform 0.3s;
}

.event a:hover{
    font-weight: 700;
    color: rgb(4, 4, 113);
    transform : scale(1.05);
}





/*icon weather*/
.icon, .icon2{
    display:flex;
    flex-direction: row;
    padding:10px;
    place-content: center;
}

.icon p, .icon2 p, .icon2 a{
    padding-left:20px;
}

.icon2 a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    transition : color 0.5s, font-size 0.5s, transform 0.3s;
}

.icon2 a:hover{
    font-weight: 700;
    color: rgb(4, 4, 113);
    transform : scale(1.05);
}

.icon img, .icon2 img{
    background-color: var(--light-blue);
    border-radius: 100px;
}

.birthday{
    text-align: center;
}

.first{
    animation : cardsAnimation  2s;
}
.sec{
    animation : cardsAnimation  2.5s;
}
.third{
    animation : cardsAnimation  3s;
}

@keyframes cardsAnimation {
  75% {
    transform: scale( 0.75);
  }

  50% {
    transform: scale( 1);
  }

}



/* memories, toggle grid list*/
.toggleView{
	padding: 0.5rem;
	text-align: center;
}

#memory section{
    position: relative;
    padding: 1rem;
}

#memory button {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 100px;
    padding : 0.6rem;
    border-radius : 1rem;
    font-weight : 700;
    background-color : var(--brown);
    color : black;
    transition : background-color 0.3s, color 0.3s, font-size 0.3s, transform 0.3s;
}

#memory button:hover {
    font-weight : 900;
    background-color : var(--blue);
    border : white solid 2px;
    color : white;
    transform : scale(1.1);
}

#memory img{
    box-shadow : 0 0 20px  black;
}

#memory-button, #event-button{
    border-radius: 15px;
    padding: 1rem;
    margin:5px;
    font-weight: 700;
    border: 2px solid var(--blue);
    cursor : pointer;
    background-color: var(--light-brown);
}

#memory-button:hover, #event-button:hover{
    background-color : white;
    transition : background-color 0.3s;
}

#memories-info {
    width : 80%;
    border-radius: 15px;
}

#memories-info h2 {
    margin-top : 50px;
    margin-left:10px;
}

#memories-info img {
    width:80%;
    margin-left : 50px;
    border-radius : 1rem;
}

#memories-info p {
    text-align : center;
}


#closeModal {
    position : absolute;
    top : 23px;
    right : 23px;
    padding : 0.5rem 1rem;
    justify-content : center;
    align-items : center;
    cursor : pointer;
    border-radius: 9px;
}

#closeModal:hover {
    color : var(--brown);
    background-color: var(--blue);
}

::backdrop {
    background-color : rgba(73, 119, 245, 0.297);
}



/*form*/
.form1{
    margin-left: 2rem;
    margin-right: 2rem;
    border:2px solid var(--blue);
    border-radius: 15px;
    padding-left: 2rem;
    background-color: var(--light-brown);
}

.form1 fieldset, div{
    margin: 0.5rem 0;
    border: none;
    padding: .5rem 2%;
}

.form1 label{
    display: block;
    padding-top: 1rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--heading-font);
}

.form1 input[type="text"],
.form1 input[type="tel"],
.form1 input[type="email"],
.form1 input[type="date"],
.form1 input[type="file"]
{
    background-color:#fff;
    display: block;
    border: solid 2px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #000;
    width:80%;
    max-width: 350px;
    font-family: var(--paragraph-font);
}

textarea{
    background-color:#fff;
    display: block;
    border: solid 2px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #000;
    width: 80%;
	height: 100px;
    max-width: 350px; 
}

.form1 input[type="radio"]
{
    margin-right: 6px;
}

.form1 input:required{
    border-left: solid 8px  rgb(248, 66, 66); 
}

.form1 input:required:valid{
    border-left: solid 8px rgb(21, 172, 140); 
}


.form1 input[type="submit"]
{
    border: 2px solid rgb(72, 70, 70) ;
    color: #000;
    border-radius: 6px;
    padding : 0.75rem 1.5rem;
    width: 100%;
    max-width: 300px;
    font-weight: 700;
    font-family: var(--paragraph-font);
    margin: 5%;
    transition : background-color 0.3s, color 0.3s, font-size 0.3s, transform 0.3s;
}

.form1 input[type="submit"]:hover{
    background-image: linear-gradient(var(--blue),var(--light-blue));
    border: 2px solid rgb(150, 147, 147) ;
    color: white;
    transform : scale(1.05);
}




/*thank you page*/



/*activities*/



/* footer */
footer{
    background-color: var(--brown);
    display: flex;
    flex-direction: column;
    padding-left:10px;
}

.seal{
    animation: wave 2s alternate infinite ;  
}
.wave{
    animation: wave 2.5s alternate infinite ;  
}
.seal2{
    animation: wave 3s alternate infinite ;  
}

.animation{
    display: flex;
}



@keyframes wave {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px);}
}
