:root{
    --blue: aliceblue;
    --light-blue:  #81b9d1;
  
    --heading-font: 'Oswald';
    --paragraph-font: 'Lato';
}

header{
    background-color: var(--light-blue);
    display:flex;
    flex-direction: row;
    justify-content: space-between; 
    padding:10px;  
}

header img{
    width: 80px;
    height: 80px;
    margin:10px;
    border-radius: 15%;
}

header .head{
    display: flex;
    gap:25px;
    align-items: center;
    line-height: 0.5;
}

#menu {
    display : block;
    font-size : 2rem;
    text-decoration : none;
    padding : 0.5rem 1rem;
    position : absolute;
    top : 0;
    right : 0;
}

#menu::before {
    content : "≡";
    color: black;
}

.navigation {
    display : flex;
    flex-direction : column;
    list-style : none;
}

.navigation li {
    display : none;
}

.navigation a {
    display : block;
    text-decoration : none;
    color : black;
    text-align : center;
    padding : 0.75rem;
    font-weight : 700;
    transition : 0.5s;
}

.navigation a:hover {
    text-decoration :overline;
    text-decoration-color: steelblue;
}

.show {
    display : flex;
    flex-direction : column;
}

.show li {
    display : block;
}

#menu.show::before {
    content : "X";
    position : absolute;
    top : 0;
    right : 0;
    padding : 1rem;
}

.active::before { 
	content: "🌟"; 
}

main{
    display: block;
}

.hero img{
    width : 100%;
    background-size : cover;
    background-position : center;
    padding-bottom : 0%;
    max-height : 270px;
    object-fit : cover;
}

section{
    margin:10px;
    background-color: aliceblue;
    display : flex;
    flex-direction : column;
    height : 100%;
}

section h2{
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;    
}

.icon{
    display:flex;
    flex-direction: row;
    padding:10px;
}

.icon p{
    padding-left:20px;
}

footer{
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
}

.media{
    justify-content: space-evenly;
}