:root{
    --blue: aliceblue;
    --light-blue:  #81b9d1;
    --lighter-blue:  #afdcef;
  
    --heading-font: 'Oswald';
    --paragraph-font: 'Lato';
}

header{
    background-color: var(--light-blue);
    display:flex;
    flex-direction: column;
    justify-content: space-between; 
    padding:10px;  
}

h1{
    padding-left:5px;
}

header img{
    width: 80px;
    height: 80px;
    margin:10px;
    border-radius: 15%;
}

header .head{
    display: flex;
    gap:25px;
    align-items: center;
    line-height: 0.5;
}


/*menu depliant hamburger*/
#menu {
    display : block;
    font-size : 2rem;
    text-decoration : none;
    padding : 0.5rem 1rem;
    position : absolute;
    top : 0;
    right : 0;
}

#menu::before {
    content : "≡";
    color: black;
}

.navigation {
    display : flex;
    flex-direction : column;
    list-style : none;
}

nav{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul{
    overflow: hidden;
}

nav.open{
    grid-template-rows: 1fr;
}

.navigation a {
    text-decoration : none;
    color : black;
    text-align : center;
    padding : 0.75rem;
    font-weight : 700;
    transition : 0.5s;
}

.navigation a:hover {
    text-decoration :overline;
    text-decoration-color: steelblue;
}

.show {
    display : flex;
    flex-direction : column;
}

.show li {
    display : block;
}

#menu.show::before {
    content : "X";
    position : absolute;
    top : 0;
    right : 0;
    padding : 1rem;
}

.active::before { 
	content: "🌟"; 
}


/*main*/
main{
    display: block;
}

/* .hero img{
    width : 100%;
    background-size : cover;
    background-position : center;
    padding-bottom : 0%;
    max-height : 270px;
    object-fit : cover;
} */

section{
    margin:5px;
    background-color: aliceblue;
    display : flex;
    flex-direction : column;
    height : 100%;
}

section h2{
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;    
}



/*call to action on banner */

.hero{
    height : 50rem;
    background-image : url(../images/hero.jpg);
    background-repeat : no-repeat;
    background-size : cover;
    background-position : center;
    margin-bottom : 2rem;
    position : relative;
    height: 400px;
}

#call{
    position : absolute;
    width : 120%;
    height : 120%;
    display : flex;
    flex-direction : column;
    justify-content:center;
    align-items : center;
    padding : 2rem;
    text-align : center;
    gap : 3rem;
}
/* .CTA{
    display: block; 
    text-align: center; 
    font-weight: bold; 
    font-size: 150%; 
    line-height: 100px; 
    margin: 10px; 
    position: relative;
} */
.CTA a {
    color:black;
    font-weight: 700;
    background-color: rgb(250, 177, 41);
    text-decoration: none;
    padding:20px;
    border-radius: 20px;
    position:absolute;
}
.CTA a:hover {
    background-color: var(--lighter-blue);
}



/*icon weather*/
.icon{
    display:flex;
    flex-direction: row;
    padding:10px;
}

.icon p{
    padding-left:20px;
}


/* directory toggle grid list*/
p a{
    text-decoration: none;
    color: rgb(98, 5, 5);
}

.members{
    padding:5px;
}

.toggleView{
	padding: 0.5rem;
	text-align: center;
}

button{
    padding: 1rem;
    margin:5px;
    font-weight: 700;
    border: 2px solid var(--light-blue);
    cursor : pointer;
}

button:hover {
    background-color : white;
    transition : background-color 0.3s;
}

.grid, .filtered-members{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 10px;
    text-align: center;
    padding: 10px;
}


.grid img, .filtered-members img{
    width: 100px;
    border: 2px solid #1c1919;
    box-shadow : 0 0 10px #333;
    margin:10px;
}


.card, .f-card{
    box-shadow : 0 0 10px  rgb(250, 177, 41);
}

.list {
	display: flex;
	flex-direction: column;
}

.list p{
    text-align: justify;
}

.list div {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
    box-shadow: none;
    border: 2px solid var(--light-blue);
}

.list div > * {
	margin: 0 1rem;
}

.list div img{
	display: none; 
}

.list div:nth-child(even) {
	background-color: var(--lighter-blue);
}


/**/
.form1 fieldset, div{
    margin: 1rem 0;
    border: none;
    padding: .5rem 2%;
}

.form1 label{
    display: block;
    padding-top: 1rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    font-weight: bold;
}

.form1 input[type="text"],
.form1 input[type="tel"],
.form1 input[type="email"]
{
    background-color:#fff;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #000;
    width:100%;
    max-width: 350px;
}

textarea{
    background-color:#fff;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #000;
    width: 100%;
	height: 100px;
    max-width: 350px; 
}

.form1 input[type="radio"]
{
    margin-right: 6px;
}

.form1 input:required{
    border-left: solid 8px  rgb(250, 177, 41); 
}

.form1 input:required:valid{
    border-left: solid 8px rgb(21, 172, 140); 
}


.form1 input[type="submit"]
{
    border: 2px solid rgb(72, 70, 70) ;
    background-image: linear-gradient(var(--lighter-blue),var(--blue));
    color: #000;
    border-radius: 6px;
    padding : 0.75rem 1.5rem;
    width: 100%;
    max-width: 400px;
    font-weight: 700;
    margin: 10%;
    transition : background-color 0.3s, color 0.3s, font-size 0.3s, transform 0.3s;
}

.form1 input[type="submit"]:hover{
    background-image: linear-gradient(var(--blue),var(--light-blue));
    border: 2px solid rgb(150, 147, 147) ;
    transform : scale(1.05);
}




/*membership level cards*/
#membershipLevels {
    text-align : center;
    margin : 1rem;
}

#levels{
    background-color: white;
}

#membershipLevels #levels section {
    margin-top : 10px;
    padding : 1.5rem;
    border-radius : 1rem;
    border: 2px solid rgb(250, 177, 41);
    animation : cardsAnimation 3.5s;

}

#membershipLevels button {
    padding : 0.6rem;
    border-radius : 1rem;
    font-weight : 700;
    background-color : var(--lighter-blue);
    color : black;
    transition : background-color 0.3s, color 0.3s, font-size 0.3s, transform 0.3s;
}

#membershipLevels button:hover {
    font-weight : 900;
    background-color : #ffffff;
    border : var(--lighter-blue) solid 2px;
    color : orange;
    transform : scale(1.1);
}

.NP {
border : white solid 2px;
animation : cardsAnimation 2s;
}
.B {
background-color : #CD7F32;
animation : cardsAnimation 2.5s;
border : #CD7F32 solid 3px;
}
.S {
background-color : silver;
animation : cardsAnimation 3s;
border : silver solid 3px;
}
.Gold {
background-color : #d4af37;
animation : cardsAnimation 3.5s;
border : #d4af37 solid 3px;
}

#levelsInfo {
    text-align : start;
    margin : auto;
    padding : 1rem;
    width : 80%;
}

#levelsInfo h2 {
    margin-top : 50px;
}

#levelsInfo h3 {
    background-color : var(--lighter-blue);
    padding : 1rem;
    font-size : 1.3rem;
    border-radius : 1rem;
    text-align : center;
}

#levelsInfo h4 {
    font-size : 1.2rem;
    text-align : center;
}

#levelsInfo ul {
    margin : 0 auto;
    width : fit-content;
}

#levelsInfo li {
    margin : 0.5rem 0;
    font-size : 1.2rem;
}

#closeModal {
    position : absolute;
    top : 23px;
    right : 23px;
    padding : 0.5rem 1rem;
    justify-content : center;
    align-items : center;
    cursor : pointer;
}

#membershipLevels #closeModal:hover {
    color : orange;
}

::backdrop {
    background-color : rgba(6, 62, 81, 0.5);
}


@keyframes cardsAnimation {
    from {
    font-size : 1.25rem;
    background-color : var(--light-blue);
    transform : translate(90%);
    }
    50% {
    transform : translate(-10%);
    }
    to {
    font-size : 1rem;
    transform : translate(0%);
    }
}


/*thank you page*/
h3{
    text-align: center;
}

#show-info{
    box-shadow: 0 0 8px rgb(151, 143, 143);
    border-radius: 15px;
    background-color: var(--blue);
}

#date {
    text-align: end;
    color: rgb(90, 87, 87);
    font-weight: 700;
}



/* footer */
footer{
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    padding-left:10px;
}
