@media (min-width: 640px) {

    #menu {
        display : none;
    }

    header{
        display: block;
    }

    header nav {
        background-color: #afdcef; 
    }

    nav{
        grid-template-rows: 1fr;
    }

    .navigation {
        display : flex;
        flex-direction : row;
        padding-right : 2rem;
    }

    .navigation li {
        display : flex;
        flex : 1 0 auto;
    }


    /*CTA*/
    #call{
        width : 150%;
    }


    /*Directory, home page members*/
    main{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: auto;
        gap:10px;
    }

    section, .members{
        margin:0;
    }

    .hero,h1,.members, .filter,.messages{
        grid-column: 1/4;
    }
    
    .f-card{
        float:left; 
        margin:25px;
        width : 21%;
        flex-wrap: wrap;
    }
    
    .list div {
        display : grid;
        grid-template-columns : repeat(auto-fit,minmax(200px,1fr));
    }


    /*join*/
    #membershipLevels {
        grid-column: 2/4;
        height: 50%;
        width: 80%;
    }

    .form1{
        border:2px solid rgb(250, 177, 41);
        border-radius: 15px;
        padding: 2.5rem;
        margin: 2rem;
    } 
    
    .form1 input[type="submit"]{
    margin: 10px;
    }

    

    /*discover*/
    .pictures{
        display: grid;
        place-items: center;
        grid-column: 2/4;
    }

    .pictures img{
        transform : scale(0.96);
        border-radius : 0;
        box-shadow : 5px 5px 5px var(--light-blue);
        transition : transform 0.2s ease-in-out, border-radius 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    .pictures figcaption{
        font-style: italic; 
        padding-left: 1rem;
    }

    .pictures img:hover{
        transform : scale(1);
        box-shadow : none;
    }

    .about p{
        padding:1rem;
    }

    .about div{
        background-color: white;
        border: solid var(--light-blue) 2px;
    }




    /*thank you*/
    .info h2{
        text-align: center;
    }

    .info {
        grid-column: 1/3;
        width: 90%;
        margin-left:5rem;
    }


    /*footer*/
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        align-items: center;
    }

}