@media (min-width: 640px) {

    #menu {
        display : none;
    }

    header{
        display: block;
    }

    header nav {
        background-color: #afdcef; 
    }

    nav{
        grid-template-rows: 1fr;
    }

    .navigation {
        display : flex;
        flex-direction : row;
        padding-right : 2rem;
    }

    .navigation li {
        display : flex;
        flex : 1 0 auto;
    }


    /*CTA*/
    #call{
        width : 150%;
    }


    /*Directory, home page members*/
    main{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: auto;
        gap:10px;
    }

    section, .members{
        margin:0;
    }

    .hero,h1,.members, .filter{
        grid-column: 1/4;
    }
    
    .f-card{
        float:left; 
        width: 30.33%;
        margin:10px;
        flex-wrap: wrap;
    }
    
    .list div {
        display : grid;
        grid-template-columns : repeat(auto-fit,minmax(200px,1fr));
    }


    /*footer*/
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        align-items: center;
    }

}