body {
    font-family: "Roboto";
    font-weight: 400;
    background-color : #f8f9fa;
    max-width : 740px;
    margin : 0 auto;
    display : grid;
    grid-template-rows : auto 1fr auto auot auto;
}

header{
    background-color: steelblue;
    text-align: center;
}

h1{
    font-weight: 400;
    display:flex;
    justify-content: center;
}

#menu {
    display : block;
    font-size : 2rem;
    text-decoration : none;
    padding : 0.5rem 1rem;
    position : absolute;
    top : 0;
    right : 0;
}

#menu::before {
    content : "≡";
    color: black;
}

.navigation {
    display : flex;
    flex-direction : column;
    list-style : none;
}

.navigation li {
    display : none;
}

.navigation a {
    display : block;
    text-decoration : none;
    color : black;
    text-align : center;
    padding : 0.75rem;
    font-weight : 700;
    transition : 0.5s;
}

.navigation a:hover {
    text-decoration :overline;
    text-decoration-color: steelblue;
}

.show {
    display : flex;
    flex-direction : column;
}

.show li {
    display : block;
}

#menu.show::before {
    content : "X";
    position : absolute;
    top : 0;
    right : 0;
    padding : 1rem;
}

.navigation.show + h1, h1.show {
    display : none;
}

.active::before { 
	content: "🌟"; 
}

main {
    background: #fff;
    padding: 1rem;
    display: grid;

    height: 100vh;
    gap : 20px;
}

h2{
    background-color: steelblue;
    grid-column : 1 / 4;
    text-align : center;
    border-radius : 10px;
}

section{
    border: 1.5px solid black ;
    padding: 1rem;
    margin: 5px;
    background-color: aliceblue;
}

img{
    height: 200px;
    padding-left: 160px;
}

figcaption{
    text-align: center;
}

footer {
    grid-row: 3/4;
    text-align : center;
    background-color : steelblue;
}