@media (min-width: 640px) {

    body{
        justify-content:center;
    }

    header {
        display : block;
    }

    header img{
        padding-right: 1000px;
        padding-top: 40px;
        padding-bottom: 0;
    }

    header h1{
        padding:5px;
        padding-bottom:10px;
    }

    header nav {
        background-color: rgb(110, 149, 180);
    }

    header nav a{
        margin-left: 140px;
    }

    #menu {
        display : none;
    }

    .navigation {
        display : flex;
        flex-direction : row;
        padding-right : 2rem;
    }

    .navigation li {
        display : flex;
        flex : 0 0 auto;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    section{
        box-shadow: 2px 2px grey;   
    }

    #card{
        grid-column: 1/2;
    }

    #card1{
        grid-column: 2/3;
    }

    #certificate{
        grid-column: 1/3;
    }

    #courses{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}