body {
    font-family: "Roboto";
    font-weight: 400;
    background-color : #f8f9fa;
    max-width : 640px;
    margin : 0 auto;
    display : grid;
}

header{
    background-color: steelblue;
    text-align: center;
}

header img{
    height:150px;
    float: left;
    margin-left: 40px;
    padding-bottom: 50px;
}

header h1{
    font-weight: 400;
    display:flex;
    justify-content: center;
    padding-top:50px;
}

#menu {
    display : block;
    font-size : 2rem;
    text-decoration : none;
    padding : 0.5rem 1rem;
    position : absolute;
    top : 0;
    right : 0;
}

#menu::before {
    content : "≡";
    color: black;
}

.navigation {
    display : flex;
    flex-direction : column;
    list-style : none;
}

.navigation li {
    display : none;
}

.navigation a {
    display : block;
    text-decoration : none;
    color : black;
    text-align : center;
    padding : 0.75rem;
    font-weight : 700;
    transition : 0.5s;
}

.navigation a:hover {
    text-decoration :overline;
    text-decoration-color: steelblue;
}

.show {
    display : flex;
    flex-direction : column;
}

.show li {
    display : block;
}

#menu.show::before {
    content : "X";
    position : absolute;
    top : 0;
    right : 0;
    padding : 1rem;
}

.navigation.show + h1, h1.show {
    display : none;
}

.active::before { 
	content: "🌟"; 
}

main {
    background: #fff;
    padding: 1rem;
    display: grid;
    gap : 10px;
}

h2{
    background-color: steelblue;
    grid-column : 1 / 4;
    text-align : center;
    border-radius : 10px;
}

section{
    border: 1.5px solid black ;
    padding: 1rem;
    margin: 3px;
    background-color: aliceblue;
}

img{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;}

figcaption{
    text-align: center;
}

#tags {
    display : flex;
    margin : auto;
    justify-content : center;
}
    
#tags a{
    background-color: white;
    color: black;
    font-weight: 900;
    margin:5px;
    padding: 10px;
    text-decoration: none;
    padding-left: 65px;
    padding-right: 65px;
}

#tags a:hover{
    background-color: steelblue;
}

.completed, .incomplete {
    margin : 10px;
    padding : 0.5rem;
    text-align: center;
}

.completed{
    background-color: rgb(58, 230, 172);
}

.incomplete{
    background-color: rgb(240, 133, 133)
}

#credits{
    text-align: center;
}

footer {
    text-align : center;
    background-color : steelblue;
}